CMakeCache.txt
CMakeFiles
Makefile
*.cmake
car
*.~
*.*~
*~
B*
box
.DS_Store
pikapi
*.dat
,*.log
.vagrant

Vagrantfile
*.log

game-pad/game-pad
node_modules
pi-fe
OpenLive-Web/live-only
game-pad2
live-only2
pi-fe2
*.log
package-lock.json
